.event {
  margin-bottom: 25px;
  margin-top: 25px;

  .event-icon {
    font-size: 1.5em;
    margin-right: 15px;
    min-width: 24px;
    min-height: 43px;
  }

  .event-image {
    border: 1px solid rgb(176, 176, 176);
  }

  .event-content {
    margin-top: 3px;
  }

  &.loading {
    .event-content {
      float: left;
      width: 85%;

      .placeholder {
        width: 100%;
        height: 40px;
      }
    }

    .event-icon {
      color: #DFDFDF;
    }

    .placeholder {
      background: #F6F6F6;
      height: 24px;
      border-radius: 3px;
      box-shadow: 0px 1px 0px #EAEAEA;
    }
  }
}

.event-type-picker {
  .type {
    display: inline;
    margin-right: 10px;
    margin-left: 1px;
  }
}

.event-image {
  margin-left: 100px;
  margin-top: 10px;
}
