.event {
  margin-bottom: 30px;
  margin-top: 30px;

  .event-icon {
    font-size: 1.5em;
    margin-right: 25px;
    min-width: 24px;
  }

  .event-image {
    border: 1px solid rgb(176, 176, 176);
  }

  &.loading {
    .event-content {
      float: left;
      width: 85%;

      .placeholder {
        width: 100%;
        height: 40px;
      }
    }

    .placeholder {
      background: #F6F6F6;
      height: 24px;
      border-radius: 3px;
      box-shadow: 0px 1px 0px #EAEAEA;
    }
  }
}
