.fake-browser-ui {
  padding: 20px 0 0;
  border-radius: 3px;
  border-bottom: 2px solid #ccc;
  background: #ddd;
  display: inline-block;
  position: relative;
  line-height: 0;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.fake-browser-ui .frame {
  display: block;
  height: 15px;
  position: absolute;
  top: 5px;
  left: 1px;
}
 
.fake-browser-ui span {
  height: 12px;
  width: 12px;
  border-radius: 12px;
  background-color: #eee;
  border: 1px solid #dadada;
  float: left;
  margin: -1px 0 0 4px;
}

@media (max-width: 991px) {
  .fake-browser-ui {
    padding: 15px 0 0;
  }

  .fake-browser-ui span {
    height: 10px;
    width: 10px;
    border-radius: 10px;
    margin: -2px 0 0 4px;
}
    
}
