@media (max-width: 991px) {

  .mobile-text-centered {
    text-align: center;
  }

  p.icons {
    font-size: 1.3em;
  }

  .mobile-hide {
    display: none;
  }

  .timeline {
    border: 0;
  }

  .event-type-picker .type {
    display: block;
  }

}
