html, body {
  margin: 20px;
  font-family: 'Pontano Sans', sans-serif;
  color: rgb(62, 62, 62);
}

strong {
  font-family: 'raleway';
  font-size: .9em;
}

h1, h2, h3 {
  font-family: 'raleway';
  font-weight: 800
}

a, a:visited {
  text-decoration: none;
  color: rgb(53, 86, 118);
  font-size: 1.2em;
}

a.active {
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

header.main-header {
  margin-bottom: 20px;
}

header.main-header h1 {
  display: inline;
}

header.main-header p {
  display: inline;
  font-family: 'raleway';
  color: rgb(140, 140, 140);
  margin-left: 10px;
  word-spacing: 2px;
}

header.main-header a {
  color: rgb(140, 140, 140);
}

header.main-header a:hover {
  color: rgb(62, 62, 62);
  text-decoration: none;
}

header .icons {
  margin-top: 0px;
  font-size: 2em;
}

nav {
  font-family: 'raleway';
}

nav.main {
  text-align: center;
}

nav.main a.active {
  font-weight: bold;
  border-bottom: 3px solid rgb(53, 86, 118);
}

nav.main a:hover {
  text-decoration: none;
  color: rgb(132, 141, 150);
}

.main-content {
  margin-top: 30px;
}

.project footer {
  font-family: 'raleway';
  font-size: .8em;
}

.pull-right {
  float: right;
}
