@import 'bootstrap';

$font-color: rgb(62, 62, 62);
$font-color-sub: lighten($font-color, 35%);
$link-color: #2a6cab;
$link-hover-color: #9DA3A8;

html, body {
  margin: 10px;
  font-family: 'Pontano Sans', sans-serif;
  color: $font-color;
  font-size: 16px;
}

strong {
  font-family: 'raleway';
  font-size: .9em;
}

h1, h2, h3 {
  font-family: 'raleway';
  font-weight: 800
}

a, a:visited {
  text-decoration: none;
  color: rgb(42, 108, 171);
  color: $link-color;
  font-size: 1.2em;
}

a.active {
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
  color: $link-hover-color;
}

header.main-header h1 {
  margin-top: 0px;
  margin-bottom: 0px;
}

header.main-header p {
  margin-top: 0px;
  font-family: 'raleway';
  color: $font-color-sub;
  word-spacing: 2px;
}

header.main-header a {
  color: $font-color-sub;
}

header.main-header a:hover {
  color: rgb(62, 62, 62);
  text-decoration: none;
}

header {

  .icons {
    margin-top: 0px;
    font-size: 2em;

      & a:hover {
        color: $link-color;
      }
  }

}

header p {
  margin-bottom: 0px;
}

nav {
  font-family: 'raleway';
}

nav.main {
  text-align: center;
  word-spacing: 6px;

  a.active {
    font-weight: bold;
    border-bottom: 3px solid $link-color;
    text-decoration: none;
  }

  a:hover {
    text-decoration: none;
    color: $link-hover-color;
  }

  a:hover {
    border-bottom: 3px solid $link-hover-color;
  }

}

.main-content {
  margin-top: 30px;
}

.sub-info {
  font-family: 'raleway';
  font-size: .7em;
}

.pull-right {
  float: right;
}

.timeline {
  border-left: 2px solid rgb(216, 211, 211);
}

.text-align-right {
  text-align: right;
}

.profile-pic {
  width: 80%;
  display: block;
  margin: 0 auto;
  border-radius: 2px;
}

@import 'mobile';
