@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-mu5pxt');
	src:url('fonts/icomoon.eot?#iefix-mu5pxt') format('embedded-opentype'),
		url('fonts/icomoon.woff?-mu5pxt') format('woff'),
		url('fonts/icomoon.ttf?-mu5pxt') format('truetype'),
		url('fonts/icomoon.svg?-mu5pxt#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-book:before {
	content: "\e91f";
}

.icon-power:before {
	content: "\e9b5";
}

.icon-link:before {
	content: "\e9cb";
}

.icon-star-full:before {
	content: "\e9d9";
}

.icon-embed2:before {
	content: "\ea80";
}

.icon-twitter:before {
	content: "\ea91";
}

.icon-github2:before {
	content: "\eab2";
}

.icon-github3:before {
	content: "\eab3";
}

.icon-github4:before {
	content: "\eab4";
}

.icon-linkedin2:before {
	content: "\eac9";
}

.icon-delicious:before {
	content: "\eacc";
}

