<img src="ajax-loader.gif"></img> Waking up server and loading feed...

{{#each row in rows}}
<div class='row event loading'>
  <div class='col-md-12'>
    <div class='event-icon pull-left'>
      <span class='icon-power'></span>
    </div>
    <div class='event-content'>
      <div>
        <div class='placeholder'>
        </div>
      </div>
    </div>
  </div>
</div>
{{/each}}
