<div class='row'>
  <div class="col-md-3">
    <article class='about'>
      <img class='profile-pic mobile-hide' src='profile.png'></img>
      <p>I am a Web developer and instructional technologist crafting tools and ideas that empower learners in a networked world.</p>
      <p>Technologies that are exciting to me right now include <strong>Ruby on Rails, Ember.js, Docker,</strong> and <strong>Go</strong>.</p>
      <p>I'm also a contributer to <a href="https://github.com/gitlabhq/gitlabhq/pulls?q=is%3Apr+author%3Ajasonblanchard+" target="_blank">GitLab</a> and other open source projects.</p>
    </article>
  </div>

  <div class="col-md-9">
    <section class='timeline'>
      <iframe src='http://cdn.knightlab.com/libs/timeline/latest/embed/index.html?source=0AlNyK0CWPkZjdE82U1dQNkRKRHdDaldmZUlnZUlBX0E&font=Bevan-PotanoSans&maptype=toner&lang=en&start_at_slide=8&height=650' width='100%' height='650' frameborder='0'></iframe>
    </section>
  </div>
</div>
