<header class='main-header'>
  <div class='row'>
    <div class='col-md-4'>
      <h1 id='title'>About:Blank</h2>
      <p class='lead'>
        jason:blanchard
        web:dev
        ed:tech
      </p>
    </div>
    <div class='col-md-8'>
      <p class='icons text-align-right'>
        <a href='https://github.com/jasonblanchard' target='_blank'><span class='icon-github4'></span></a>
        <a href='https://twitter.com/about__blank' target='_blank'><span class='icon-twitter'></span></a>
        <a href='http://www.linkedin.com/in/jasonwblanchard/' target='_blank'><span class='icon-linkedin2'></span></a>
      </p>
    </div>
  </div>
</header>

<nav class='main'>
  {{#link-to 'about'}}about{{/link-to}} |
  {{#link-to 'feed'}}feed{{/link-to}} |
  {{#link-to 'projects'}}projects{{/link-to}}
</nav>

<section class='main-content'>
  {{liquid-outlet}}
</section>
