<h2 id='title'>About:Blank</h2>

<nav>
  {{#link-to 'about'}}about{{/link-to}} |
  {{#link-to 'feed'}}feed{{/link-to}} |
  {{#link-to 'projects'}}projects{{/link-to}}
</nav>

<section class='main-content'>
  {{liquid-outlet}}
</section>
