<header class='main-header'>
  <h1 id='title'>About:Blank</h2>
  <p class='lead'>
    jason:blanchard
    web:dev
    ed:tech
  </p>
</header>

<nav class='main'>
  {{#link-to 'about'}}about{{/link-to}} |
  {{#link-to 'feed'}}feed{{/link-to}} |
  {{#link-to 'projects'}}projects{{/link-to}}
</nav>

<section class='main-content'>
  {{liquid-outlet}}
</section>
