{{#each}}
  <article class='project'>
    <h2>{{name}}</h2>
    <p>{{description}}</p>
    <footer>
      <div class='sub-info'>
        <span class='icon-link'></span> <a {{bind-attr href='url'}} target='_blank'>web</a> 
        {{#if code}}
        | <span class='icon-embed2'></span> <a {{bind-attr href='code'}} target='_blank'>code</a>
        {{/if}}
      </div>
    </footer>
  </article>
{{/each}}
