<article class='project'>
  <h2>ApprenNet</h2>
  <div class='project-image'>
    image here
  </div>
  <p>Description blah blah blah ....</p>
  <footer>
    link to website | link to code
  </footer>
</article>
