{{#each}}
  <article class='project'>
    <h2>{{name}}</h2>
    <p>{{description}}</p>
    <footer>
      <a {{bind-attr href='url'}} target='_blank'>Web</a> 
      {{#if code}}
        | <a {{bind-attr href='code'}} target='_blank'>Code</a>
      {{/if}}
    </footer>
  </article>
{{/each}}
